.artikelcontainer{margin-left: 20px; margin-right: 20px;padding: 10px;}
.artikel h1{font-size: 16px; font-weight: bold; text-align: justify; color:blue;}
.artikel h3{font-size: 14px; font-weight: bold; text-align: justify;}