<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Artikel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-top: 20px;">
    <ion-card-header>
    <ion-card-subtitle style="font-size: 20px; color: black; font-weight: bold;" name="judulartikel1" id="judulartikel1"><b></b></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ion-text style="color: grey;">
          </ion-text>
          <ion-button expand="block" (click)="lihatArtikel1()"><ion-icon name="search"></ion-icon> LIHAT ARTIKEL</ion-button>
    </ion-card-content>
    </ion-card>

    <ion-card style="margin-top: 20px;">
      <ion-card-header>
      <ion-card-subtitle style="font-size: 20px; color: black; font-weight: bold;" name="judulartikel2" id="judulartikel2"><b></b></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <ion-text style="color: grey;">
            </ion-text>
            <ion-button expand="block" (click)="lihatArtikel2()"><ion-icon name="search"></ion-icon> LIHAT ARTIKEL</ion-button>
      </ion-card-content>
      </ion-card>

      <ion-card style="margin-top: 20px;">
        <ion-card-header>
        <ion-card-subtitle style="font-size: 20px; color: black; font-weight: bold;" name="judulartikel3" id="judulartikel3"><b></b></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-text style="color: grey;">
              </ion-text>
              <ion-button expand="block" (click)="lihatArtikel3()"><ion-icon name="search"></ion-icon> LIHAT ARTIKEL</ion-button>
        </ion-card-content>
        </ion-card>
</ion-content>