<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div class="containerlogin2" style="margin-top: 60px;">
    <img class="gambarlogo" src="assets/icon/logo1.jpg" style="margin-top: 30px;">
<p class="txt1" style="margin-top: 90px; text-align: center;">
    SILAKAN LOGIN!
</p>
<ion-button expand="block" (click)="loginApi()"><ion-icon name="arrow-forward"></ion-icon> LOGIN VIA AKUN GOOGLE</ion-button>
    <!--<ion-button color="success" expand="block" (click)="nextPage()"><ion-icon name="arrow-forward"></ion-icon> DAFTAR</ion-button>-->
</div>
</ion-content>